.container.container
    max-width: 1300px

.tsd-navigation.primary
    padding: 0 0 0 10px

.tsd-navigation.primary
    li.tsd-kind-property
        font-size: 12px;

dl.tsd-comment-tags
    pre
        margin-bottom: 15px

.tsd-comment
    table td
        font-size: 16px

header .tsd-page-toolbar
    border-bottom: 2px solid darken(#fedd1e, 10%)

#tsd-search
  vertical-align: middle

a.title
    font-size: 1.3em

